<div id="<%= dom_id reservation %>">
  <p>
    <strong>Reservation date:</strong>
    <%= reservation.reservation_date %>
  </p>

  <p>
    <strong>Appointment:</strong>
    <%= reservation.appointment_id %>
  </p>

</div>
